<div class="min-h-screen bg-gray-900 text-white">
    <!-- Imagen junto con el inicio de sesion -->
    <header class="relative h-screen flex items-center justify-center">
        <div class="absolute inset-0 z-0">
            <a class="absolute top-4 right-4 text-xl text-white px-4 py-2 bg-[#963f43] bg-opacity-60 rounded-lg z-10 hover:bg-opacity-100 hover:scale-105 transition-transform cursor-pointer"
                (click)="abrirModalInicioSesion()">Iniciar sesion </a>
            <img src="assets\imageLoginDerecha.jpg"
                alt="Gym Background" class="w-full h-full object-cover opacity-40" />
        </div>
        <div class="relative z-10 text-center px-4">
            <div class="grid justify-center">
                <img src="assets\logo.jpg" class="rounded-full">
            </div>
            <div class="flex items-center justify-center mb-6">
                <h1 class="text-5xl font-bold">Quimera Health</h1>
            </div>
            <p class="text-xl text-gray-300 mb-8">Transforma tu cuerpo, transforma tu vida</p>
            <!-- <button class="bg-purple-600 hover:bg-purple-700 text-white px-8 py-3 rounded-full font-semibold transition-all">
          Inicia tus clases
        </button> -->
        </div>
    </header>

    <!-- Informacion del desarrollo en el gimnasio -->
    <section class="py-20 bg-gray-800">
        <div class="container mx-auto px-4">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="text-center p-6">

                    <h3 class="text-xl font-semibold mb-2">Entrenadores Profesionales</h3>
                    <p class="text-gray-400">Profesionales con experiencia en entrenamiento personalizado</p>
                </div>
                <div class="text-center p-6">

                    <h3 class="text-xl font-semibold mb-2">Equipamiento</h3>
                    <p class="text-gray-400">Lo necesario para tu mejor rendimiento</p>
                </div>
                <div class="text-center p-6">

                    <h3 class="text-xl font-semibold mb-2">Lunes a Viernes</h3>
                    <p class="text-gray-400">Entrenamiento en cualquier momento</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Informacion de los planes -->
    <section class="py-20 bg-gray-900">
        <div class="container mx-auto px-4">
            <h2 class="text-4xl font-bold text-center mb-12">Planes</h2>
            <h5 class="text-xl font-bold text-center mb-12">¡Cualquier actualización de precio se verá reflejado al momento de iniciar el proceso de subscripción!</h5>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
                <div class="bg-gray-800 rounded-lg p-8 transform hover:scale-105 transition-transform">
                    <h3 class="text-2xl font-bold mb-4">{{membresias[0]?.nombre}}</h3>
                    <p class="text-[#963f43] text-4xl font-bold mb-6">{{membresias[0]?.precioMensual.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/mensual</span></p>
                    <p class="text-[#963f43] text-4xl font-bold mb-6">{{membresias[0]?.precioTrimestral.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/trimestral</span>
                    </p>
                    <ul class="space-y-3 mb-8">
                        <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Entrenamiento
                            semi-personalizado</li>
                        <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Equipamiento</li>
                    </ul>
                    <button (click)="abrirModalSuscripcion(membresias[0])"
                        class="w-full bg-[#963f43] hover:bg-green-900 text-white py-3 rounded-lg transition-colors">
                        Subscribir
                    </button>
                </div>

                <div class="bg-[#963f43] rounded-lg p-8 transform hover:scale-105 transition-transform">
                    <h3 class="text-2xl font-bold mb-4">{{membresias[3]?.nombre}}</h3>
                    <p class="text-white text-4xl font-bold mb-6">{{membresias[3]?.precioMensual.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/mensual</span></p>
                    <ul class="space-y-3 mb-8">
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Entrenamiento
                            semi-personalizado</li>
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Equipamiento</li>
                    </ul>
                    <button (click)="abrirModalSuscripcion(membresias[3])"
                        class="w-full bg-white text-[#963f43] hover:bg-gray-100 py-3 rounded-lg transition-colors">
                        Subscribir
                    </button>
                </div>

                <div class="bg-[#963f43] rounded-lg p-8 transform hover:scale-105 transition-transform">
                    <h3 class="text-2xl font-bold mb-4">{{membresias[1]?.nombre}}</h3>
                    <p class="text-white text-4xl font-bold mb-6">{{membresias[1]?.precioMensual.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/mensual</span></p>
                    <p class="text-white text-4xl font-bold mb-6">{{membresias[1]?.precioTrimestral.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/trimestral</span></p>
                    <ul class="space-y-3 mb-8">
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Maximo 6 dias a la semana</li>
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Maximo 2 clases por dia</li>
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Entrenamiento semi-personalizado</li>
                        <li class="flex items-center"><span class="text-white-500 mr-2">✓</span> Equipamiento</li>
                    </ul>
                    <button (click)="abrirModalSuscripcion(membresias[1])"
                        class="w-full bg-white text-[#963f43] hover:bg-gray-100 py-3 rounded-lg transition-colors">
                        Subscribir
                    </button>
                </div>

                <div class="bg-gray-800 rounded-lg p-8 transform hover:scale-105 transition-transform">
                    <h3 class="text-2xl font-bold mb-4">{{membresias[2]?.nombre}}</h3>
                    <p class="text-[#963f43] text-4xl font-bold mb-6">{{membresias[2]?.precioMensual.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}}<span class="text-lg">/mensual</span></p>
                    <ul class="space-y-3 mb-8">
                        <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Entrenamiento
                            semi-personalizado</li>
                            <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Maximo 3 dias a la semana</li>

                        <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Equipamiento</li>
                        <li class="flex items-center"><span class="text-[#963f43] mr-2">✓</span> Presentar certificado
                            de alumno regular</li>
                    </ul>
                    <button (click)="abrirModalSuscripcion(membresias[2])"
                        class="w-full bg-[#963f43] hover:bg-green-900 text-white py-3 rounded-lg transition-colors">
                        Subscribir
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacto -->
    <section class="py-20 bg-gray-800">
        <div class="container mx-auto px-4">
            <div class="grid gap-5 mb-12">
                <h2 class="text-4xl font-bold text-center">Contactanos</h2>
                <a href="https://www.instagram.com/quimera.health/" target="_blank" class="grid justify-center">
                    <img src="assets/instagram.png"
                        class="transform hover:scale-150 transition-transform cursor-pointer">
                </a>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                <div class="space-y-6">
                    <div class="grid items-center gap-5">
                        <p>Av. Cuarta Terraza 6009, Valle Volcanes, Puerto Montt, Chile</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d747.5123630895621!2d-72.91867671748483!3d-41.45984273968563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183a8a69e84b03%3A0x2c41ef1ca6498532!2sAv.%20Cuarta%20Terraza%206009%2C%205480000%20Puerto%20Montt%2C%20Los%20Lagos!5e0!3m2!1ses!2scl!4v1733185124174!5m2!1ses!2scl" 
                                allowfullscreen="" 
                                loading="lazy" 
                                referrerpolicy="no-referrer-when-downgrade"
                                class="rounded-lg w-auto hover:scale-110">
                        </iframe>
                    </div>


                    <div class="flex space-x-4 mt-6">
                        <a href="#" class="text-purple-500 hover:text-purple-400">

                        </a>
                        <a href="#" class="text-purple-500 hover:text-purple-400">

                        </a>
                        <a href="#" class="text-purple-500 hover:text-purple-400">

                        </a>
                    </div>
                </div>
                <form class="space-y-4">
                    <input type="text" placeholder="Tu nombre"
                        class="w-full bg-gray-700 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[#963f43]" />
                    <input type="email" placeholder="Tu Correo"
                        class="w-full bg-gray-700 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[#963f43]" />
                    <textarea placeholder="Tu Mensaje" rows={4}
                        class="w-full bg-gray-700 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-[#963f43]"></textarea>
                    <button
                        class="w-full bg-[#963f43] hover:bg-green-900 text-white py-3 rounded-lg transition-colors">
                        Enviar Mensaje
                    </button>
                </form>
            </div>
        </div>
    </section>

    <!-- parte final de la pagina -->
    <footer class="bg-gray-900 py-8">
        <div class="container mx-auto px-4 text-center text-gray-400">
            <p>© 2024 Quimera Health</p>
        </div>
    </footer>

    <!-- modal inciio de sesion -->
    <div *ngIf="mostrarModalSesion" class="fixed inset-0 z-20 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white w-96 p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Iniciar sesión</h2>
    
            <!-- Formulario -->
            <form (submit)="iniciarSesion()">
                <div class="mb-4">
                    <label class="block text-gray-700">Correo electrónico</label>
                    <input type="email"
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-green-600 focus:ring-1 focus:ring-green-600" 
                            [class]="datosIncorrectos ? 'animate-sacudirInput border-red-500' : ''"
                            [(ngModel)]="email"
                            #inputCorreoElectronico
                        name="email" required />
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Contraseña</label>
                    <input type="password" 
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-green-600 focus:ring-1 focus:ring-green-600" 
                            [class]="datosIncorrectos ? 'animate-sacudirInput border-red-500' : ''"
                            [(ngModel)]="password"
                        name="password" required />
                </div>
                <div *ngIf="datosIncorrectos" class="flex justify-center">
                    <label class="block text-red-400">{{mensajeError}}</label>
                </div>
                <div class="flex justify-between">
                    <button type="submit" 
                            class=" text-gray-400 px-4 py-2 rounded-lg cursor-no-drop " 
                            [class]="email.length > 0 && password.length > 0 ? 'hover:bg-green-700 bg-green-600 text-white cursor-pointer': null"
                            (click)="email.length > 0 && password.length > 0 ? iniciarSesion(): null">
                        Iniciar sesión
                    </button>
                    <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400" 
                        (click)="cerrarModalInicioSesion()">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- modal formulario de pago -->
    <div *ngIf="mostrarModalSuscripcion" class="fixed inset-0 z-20 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white w-[500px] p-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4" >Membresia {{membresiaSeleccionada.nombre}}</h2>
    
            <!-- Formulario -->
            <form>
                <div class="mb-2 grid grid-flow-col"
                    [class]="membresiaSeleccionada.precioTrimestral == null ? 'justify-center' : '' ">
                    <div class="text-center">
                        <label class="block text-gray-700">{{membresiaSeleccionada.precioMensual.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}} Mensual</label>
                        <input type="checkbox"
                                class=" rounded-lg p-2 text-[#963f43] focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]"
                                [(ngModel)]="precioMensual"
                            name="precioMensual"  required 
                            (change)="onCheckboxChange('mensual')"/>
                    </div>
                    <div *ngIf="membresiaSeleccionada.precioTrimestral != null">
                        <label class="block text-gray-700">{{membresiaSeleccionada.precioTrimestral.toLocaleString('es-CL',{style: 'currency', currency: 'CLP'})}} Trimestral</label>
                        <input type="checkbox"
                                class=" rounded-lg p-2 text-[#963f43] focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                                [(ngModel)]="precioTrimestral"
                            name="precioTrimestral" required
                            (change)="onCheckboxChange('trimestral')" />
                    </div>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Nombres y Apellidos</label>
                    <input type="text"
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                            [(ngModel)]="nombreUsuario"
                        name="nombreUsuario" required />
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Correo electrónico</label>
                    <input type="email" 
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                            [(ngModel)]="correoUsuario"
                        name="correoUsuario" required />
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Telefono</label>
                    <input type="number"
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                            [(ngModel)]="telefonoUsuario"
                            (keyup)="telefono($event)"
                        name="telefonoUsuario" />
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Fecha nacimiento</label>
                    <input type="date" 
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                            [(ngModel)]="fechaNacimientoUsuario"
                        name="fechaNacimientoUsuario" required />
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Antecedentes medicos</label>
                    <input type="text" 
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-[#963f43] focus:ring-1 focus:ring-[#963f43]" 
                            [(ngModel)]="antecedentesMedicosUsuario"
                        name="antecedentesMedicosUsuario"  />
                </div>

                <div class="relative w-full mb-4">
                    <label class="block text-gray-700">Comprobante de pago</label>
                    <!-- Input oculto -->
                    <input type="file" id="comprobantePago" class="hidden" (change)="archivoComprobantePago($event)" />
                
                    <!-- Botón estilizado -->
                    <label for="comprobantePago"
                        class="w-full flex items-center justify-between border border-gray-300 rounded-lg p-2 text-black bg-gray-100 cursor-pointer hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-[#963f43]">
                        <span id="file-name" class="text-sm text-gray-600">Selecciona un archivo...</span>
                        <span class="text-[#963f43] font-bold">Examinar</span>
                    </label>
                </div>

                <!-- <div class="mb-4">
                    <label class="block text-gray-700">Comprobante de pago</label>
                    <input type="file" 
                            class="w-full border border-gray-300 rounded-lg p-2 text-black focus:border-purple-600 focus:ring-1 focus:ring-purple-600" 
                            (change)="archivoComprobantePago($event)"
                        name="comprobantePago"  />
                </div> -->

                <div class="flex justify-between">
                    <button type="submit" 
                            class=" text-gray-400 px-4 py-2 rounded-lg cursor-no-drop " 
                            [class]="nombreUsuario.length > 0 && correoUsuario.length > 0 && fechaNacimientoUsuario.length > 0 && comprobantePago.length > 0 && precioMensual == true ? 'hover:bg-green-700 bg-green-600 text-white cursor-pointer': null"
                            (click)="nombreUsuario.length > 0 && correoUsuario.length > 0 && fechaNacimientoUsuario.length > 0 && comprobantePago.length > 0 && precioMensual == true ? iniciarSuscripcion(): null">
                        Suscribirme
                    </button>
                    <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-400" 
                        (click)="mostrarModalSuscripcion = false">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>